
@{
    Layout = "../Shared/_SampleLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">SPA Sample</h1>


    <mysampleapp-root>
        Loading Angular App
    </mysampleapp-root>
</div>

<script src="~/dev/sampleangular/angular.js"></script>
<script src="~/dev/sampleangular/core-js.js"></script>

<script src="~/dev/sampleangular/polyfills.js"></script>
<script src="~/dev/sampleangular/runtime.js"></script>
<script src="~/dev/sampleangular/rxjs.js"></script>
<script src="~/dev/sampleangular/tslib.js"></script>
<script src="~/dev/sampleangular/vendor.js"></script>
<script src="~/dev/sampleangular/webpack.js"></script>
<script src="~/dev/sampleangular/zone.js.js"></script>
<script src="~/dev/sampleangular/myapp~vendor.js"></script>
<script src="~/dev/sampleangular/myapp.js"></script>
